<h1><b>Post Payment Status</b></h1>
<div class="row">
  <div class="col-md-8">
    <%= form_for(@invoice7_edit, url: admin_update_invoice_status_1_invoice_path(@invoice7_edit)) do |f| %>
      <div class="form-group">
        <label>Post Payment Status # 1</label>
        <%= f.select :post_payment_status, [["Opened","Opened"],["Closed","Closed"]], {:prompt => true, :multiple=>true } %>
      </div>
      
      <div class="form-group">
        <label>Post Payment Status # 2</label>
        <%= f.select :post_payment_status_1, [["Opened","Opened"],["Closed","Closed"]], {:prompt => true, :multiple=>true } %>
      </div>
      
      
      
      <div class="form-group">
        <%= f.submit "Post Payment Status", class: 'btn btn-success' %>
      </div>
    <%end%>
  </div>
</div>