<div class = "container">
<h1><b> Invoice</b>
<%= form_tag import_invoices_path, multipart: true do %>
  
  <%= file_field_tag :file, class:"btn btn-large btn-success btn-file" %>
  
  <%= submit_tag "Import", class:"btn btn-large btn-success btn-file"%>

<%end%></h1>

<table id = "users-table" class="display" cellspacing="0" width="100%", data-source="<%= invoices_path(current_user: current_user, format: "json") %>">
    <thead>
      <tr>
        <th>Invoice Num</th>
        <th>Seller Name</th>
        <th>Account Name</th>
        <th>Warehouse</th>
        <th>Invoice Amount</th>
        <th>Created At</th>
        <th>Delivery Status</th>
        <th>Req Delivery Date</th>
        <th>Post Delivery</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>



</div>


