<h1>About This Website</h1>
<p>Contact Me: +16619178989</p>
<p>Please send bugs to ochng6654@gmail.com</p>
<p>Created by: Oscar Chng</p>
<%= link_to "Follow me", "https://www.facebook.com/oscar6654", class: "social-btn" %>


