<div class="jumbotron">

  <h1><center>Welcome to VCSI Attendance Monitoring</center></h1>
  <h2><center><%= link_to "See Latest News/Memo", memos_path %></center></h2>
  <h2><b><center>Check out Messaging!</center></b></h2>
  <p><center><%= link_to "New Conversation", new_conversation_path, class: "btn btn-primary btn-lg"%><%= link_to "Go To Inbox", mailbox_inbox_path, class: "btn btn-primary btn-lg"%></center></p>
</div>






