<div class = "container">
<h1><b>Invoice</b></h1>

<table id = "plate-table" class="display" cellspacing="0" width="100%", data-source="<%= datas_path(format: "json") %>">
    <thead>
      <tr>
        <th>Plate Number</th>
        <th>Dispatch DateTime</th>
        <th>Account Name</th>
        <th>Invoice Number</th>
        <th>Invoice Amount</th>
        <th>Delivery Crew</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>



</div>


